body {
  font-size: 1rem;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #2991d6;
}
a:hover {
  text-decoration: underline;
}
.main-header .navbar-brand {
  color: #00bcd2;  
  font-size: 1.875em;
  background: url(../img/logocpif-1.png) no-repeat 0px 0px transparent;
  display: block;
  text-indent: -9999px;
  width: 210px;
  height: 70px;
  background-size: 210px;
}
.header-stats img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.header-stats li {
  display: flex;
  align-items: center;  
}
.header-stats li span {
  color: #00bcd2;
  font-size: 1.875em;
  padding-left: 10px;
  font-weight: 500;
}
.navbar-light.main-header .navbar-nav .nav-link {
  color: #2991d6; 
}
.navbar-light.main-header .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.main-header {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;  
}
.filter-questions {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  margin-top: 1.5rem;
}
.filter-questions > li {
  display: inline-block;
}
.filter-questions > li > a {
  display: inline-block;
  color: #00bcd2;
  border-bottom: 1px solid #00bcd2;
}
.filter-questions > li > a:hover,
.filter-questions > li > a.current {
  text-decoration: none;
  color: #042b48;
  border-color: #042b48;
}
.answer-radio {
      padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-bottom: 5px;
}
.btn-primary {
  background-color: #00bcd2;
  border-color: #00bcd2;
  text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.btn-primary.btn-primary:active {
  background-color: #2991d6;
  border-color: #2991d6;
}
.btn-outline-secondary {
  border-color: #042b48;
  color: #042b48;
  text-transform: uppercase;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.btn-outline-secondary.btn-outline-secondary:active {
  background-color: #042b48;
  border-color: #042b48;
  color: #fff;
}
.questions-list-container {
  padding: 1.5rem;
  background-color: #f7f7f7;
}
.questions-list {
  list-style: none;
  padding-left: 0px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.questions-list li {
  border: 1px solid #acacac;
  padding: 0.5rem 0rem;
  min-width: 42px;
  text-align: center;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}
.questions-list li.answered {
  background-color: #398b39;
  color: #fff;
}
.questions-list li.not-answered {
  background-color: #da7b03;
  color: #fff;
}
.questions-list li.current {
  background-color: #00bcd2;
  color: #fff;
}
.question-list-help {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;  
  font-size: 0.75rem;
  border-top: 1px solid #dedede;
  padding-top: 1rem;
}
.question-list-help li {
  width: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 20px;
}
.question-list-help li::before {
  width: 15px;
  height: 15px;
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.question-list-help li.current::before {
  background-color: #00bcd2;
}
.question-list-help li.answered::before {
  background-color: #398b39;
}
.question-list-help li.not-answered::before {
  background-color: #da7b03;
}
.filter-questions > li + li {
  margin-left: 1rem;
}
.login-wrapper {
  background: url(../img/open-source-exam-software.webp) no-repeat left top transparent;
  background-size: cover;  
}
.login-container {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem 3rem;
}
.login-container h1 {
  color: #042b48;
  background: url(../img/logocpif-1.png) no-repeat 0px 0px transparent;
  display: block;
  text-indent: -9999px;
  width: 220px;
  height: 70px;
  background-size: 220px;
}
.login-container h3 {
  color: #00bcd2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.login-container .form-control {
  height: 45px;
}
.instructions-list {
  list-style: decimal;
}
.instructions-list li + li {
  padding-top: 1rem;
}
.congrats-block img {
  width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.congrats-block h3 {
  color: #00bcd2;
}
.navbar-light.main-header .admin-nav .nav-link.active{
  color: #00bcd2;
  font-weight: 700;
}
.tab-pane {
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: 0px none;
}
.admin-stats h4 >span {
  color: #00bcd2;
}
.admin-stats h4 {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
}
.question {
  color: #00bcd2;
  display: flex;
  padding-bottom: 1rem;
}
.question > span{
  margin-right: 10px;
}
.question-container {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
/*
 * Responsive
 */
@media screen and (min-width: 1200px) {
  .header-stats li + li {
    padding-left: 50px;
  }  
}
@media screen and (min-width: 992px) {
  .header-stats {
    margin-left: 50px;
    margin-right: 2rem;
  }
  .admin-nav .nav-item + .nav-item{
    margin-left: 1rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-stats li + li {
    padding-left: 20px;
  }  
  .header-stats li,
  .header-stats + .navbar-nav {
    font-size: 0.85rem;
  }
  .header-stats li span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .quiz-wrapper {
    overflow: hidden;
  }
  .questions-list-container {
    position: relative;
    min-height: 100%;
  }
  #attachQuestionNumber {
    min-height: 100%;
  }
  .questions-list-container::before {
    position: absolute;
    width: 2000px;
    height: 100%;
    content: '';
    display: block;
    left: 100%;
    top: 0px;
    background-color: #f7f7f7;
    z-index: -1;
  }  
  .header-stats img {
    width: 25px;
    height: 25px;
  }
  .see-all-questions-btn,
  .close-btn {
    display: none;
  }
  .mobile-questions .questions-list-container {
    position: fixed;
    top: 86px;
    z-index: 2;
    margin-top: 0px;
    width: 255px;
  }
  .login-container {
    margin-right: -15px;
  }
  .main-header {
    position: fixed;
    background-color: #fff;
    z-index: 4;
    width: 100%;
    top: 0px;
  }
  body {
    padding-top: 86px;
  }
  .start-btn {
      margin-top: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-stats {
    flex-direction: row;
    justify-content: space-around;    
  }
  .header-stats + .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .header-stats + .navbar-nav > .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .questions-list-container {
    margin-top: 1.5rem;
  }
  .see-all-questions-btn {
    width: calc(100% - 30px);
    margin: 0px 0px 0px 15px;
    margin-top: 20px;
  }
  .mobile-questions {
    padding-top: 40px;
  }

  .mobile-questions .see-all-questions-btn {
    position: fixed;
    top:0px;
    z-index: 2;
    margin-top: 0px;
  }

  .questions-list-container {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    left: 0px;
    z-index: 3;
    transition: all 0.25s ease-out;
    transform: translateX(100%);
  }
  .push-menu .questions-list-container{
    transform: translateX(0);
  }

  .questions-list-container h5 {
    display: flex;
  }
  .questions-list-container h5 > .btn {
    margin-left: auto;
  }
    .start-btn {
      width: 100%;
      margin-bottom: 20px;
    }
}
@media (max-width: 575px) {
  .btn-lg {
    font-size: 1rem;
  }
}


