body {
  font-size: 1rem;
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #2991d6;
}
a:hover {
  text-decoration: underline;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.ttf');
}


.main-header .navbar-brand {
  color: #00bcd2;  
  font-size: 1.875em;
  background: url(../img/logocpif-1.png) no-repeat 0px 0px transparent;
  display: block;
  text-indent: -9999px;
  width: 210px;
  height: 70px;
  background-size: 210px;
}
.header-stats img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.header-stats li {
  display: flex;
  align-items: center;  
}
.header-stats li span {
  color: #00bcd2;
  font-size: 1.875em;
  padding-left: 10px;
  font-weight: 500;
}
.navbar-light.main-header .navbar-nav .nav-link {
  color: #04859d; 
}
.navbar-light.main-header .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.main-header {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  position: relative;
  z-index: 1;  
}
.main-header #my_camera, .main-header #my_camera video {
    width: 93px !important;
    height: 70px !important;
}
.main-header #my_camera video{
    border-radius: 10px;
}
.filter-questions {
  list-style: none;
  padding-left: 0px;
  text-align: center;
  margin-top: 1.5rem;
}
.filter-questions > li {
  display: inline-block;
}
.filter-questions > li > a {
  display: inline-block;
  color: #00bcd2;
  border-bottom: 1px solid #00bcd2;
}
.filter-questions > li > a:hover,
.filter-questions > li > a.current {
  text-decoration: none;
  color: #042b48;
  border-color: #042b48;
}
.answer-radio {
      padding: 5px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    margin-bottom: 5px;
}
.btn-primary {
  background-color: #00bcd2;
  border-color: #00bcd2;
  text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.btn-primary.btn-primary:active {
  background-color: #2991d6;
  border-color: #2991d6;
}
.btn-outline-secondary {
  border-color: #042b48;
  color: #042b48;
  text-transform: uppercase;
}
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary.btn-outline-secondary.btn-outline-secondary:active {
  background-color: #042b48;
  border-color: #042b48;
  color: #fff;
}
#attachQuestionNumber {
  padding: 0.5rem;
  background-color: #f7f7f7;
}
.questions-list {
  list-style: none;
  padding-left: 0px;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.questions-list li {
    border: 1px solid #acacac;
    padding: 0.15rem 0rem;
    min-width: 30px;
    text-align: center;
    border-radius: 5px;
    background-color: #fff;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    font-size: 0.85rem;
    cursor: pointer;
}
.questions-list li:hover {
    background-color: rgba(0,0,0,0.1)
}
.questions-list li.answered {
  background-color: #398b39;
  color: #fff;
}
.questions-list li.not-answered {
  background-color: #da7b03;
  color: #fff;
}
.questions-list li.current {
  background-color: #00bcd2;
  color: #fff;
}
.question-list-help {
  list-style: none;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;  
  font-size: 0.75rem;
  border-top: 1px solid #dedede;
  padding-top: 1rem;
}
.question-list-help li {
  width: 50%;
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 20px;
}
.question-list-help li::before {
  width: 15px;
  height: 15px;
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 10px;
}
.question-list-help li.current::before {
  background-color: #00bcd2;
}
.question-list-help li.answered::before {
  background-color: #398b39;
}
.question-list-help li.not-answered::before {
  background-color: #da7b03;
}
.filter-questions > li + li {
  margin-left: 1rem;
}
.login-wrapper {
  background: url(../img/open-source-exam-software.webp) no-repeat left top transparent;
  background-size: cover;  
}
.login-container {
  background-color: #fff;
  min-height: 100vh;
  padding: 1rem 3rem;
}
.login-container h1 {
  color: #042b48;
  background: url(../img/logocpif-1.png) no-repeat 0px 0px transparent;
  display: block;
  text-indent: -9999px;
  width: 220px;
  height: 70px;
  background-size: 220px;
}
.login-container h3 {
  color: #00bcd2;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.login-container .form-control {
  height: 45px;
}
.instructions-list {
  list-style: decimal;
}
.instructions-list li + li {
  padding-top: 1rem;
}
.congrats-block img {
  width: 200px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.congrats-block h3 {
  color: #00bcd2;
}
.navbar-light.main-header .admin-nav .nav-link.active{
  color: #00bcd2;
  font-weight: 700;
}
.tab-pane {
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: 0px none;
}
.admin-stats h4 >span {
  color: #00bcd2;
}
.admin-stats h4 {
  text-align: center;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.08);
}
.question {
  color: #00bcd2;
  display: flex;
  padding-bottom: 1rem;
}
.question > span{
  margin-right: 10px;
}
.question-container {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.exams-sidebar {
    background-color: #eef6f8;
    border-radius: 15px;
    padding: 20px;
}
.exams-sidebar ul {
    padding-left:0px;
}
.exams-sidebar .instructions-list ul {
    padding-left: 20px;
    list-style: disc;
}
.sample-image-block {
    border-top: 1px solid #d6dddf;
    text-align:center;
    padding-top: 20px;
}
#my_camera video {
    border-radius: 15px;
    border: 1px solid #378299;
}
#results h2 {
    display: none;
}
#results {
    border-radius: 15px;
    border: 1px dashed #378299;   
    overflow: hidden;
}
#results img {
    width: 100%;
    height: 295px;
    object-fit: cover;
}
.exam-message {
    background-color: #eef6f8;
    border-radius: 15px;
    padding: 20px 20px 5px 20px; 
    margin-bottom: 30px;
}
.countdown-card {
    background: #e14242de;
    color: #fff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
.countdowntimer{
    font-family: digital-7;
    font-size: 4rem;
    margin-bottom: 0px;
    text-align: center;
}
.capture-id-img {
    height: 240px;
    object-fit: cover;
    border-radius: 15px;
}
.compatiblity-check {
    margin: 3rem auto 1rem auto;
    border-radius: 20px;
    padding: 2rem;
    border: 1px solid #f3f3f3;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}
.compatiblity-check h4 {
  color: #00bcd2;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.compatiblity-check ul li + li {
    margin-top: 1rem;
}
.wizard-container:not(:first-of-type) {
    display: none
}
.img-placeholder {
    border-radius: 15px;
    border: 1px solid #378299; 
    margin-bottom: 1rem;
}
.main-header {
position: fixed;
background-color: #fff;
z-index: 4;
width: 100%;
top: 0px;
}
body {
 padding-top: 86px;
 font-size:14px;
}

.custom-chatbot {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9;
}
.chatbot-container {
  background: #fff;
  width: 370px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: none;
}
.chatbot-header {
  display: flex;
  background: #01849c;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.chatbot-header .btn {
  padding: 5px;
}
.message-area {
  height: 390px;
  overflow-y: auto;
}
.message-area ol {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.message-area ol li {
  padding: 15px;
  display: flex;
}
.message-area .msg {
  max-width: 80%;
  font-size: 0.875rem;
  padding: 1rem;
  background: #eef6f8;
  border-radius: 1rem;
}
.chatbot .msg {
  background-color: #f8f8f8;
  color: #333;
}
.message-area ol li.visitor {
  justify-content: flex-end;
}
.message-area .time {
  font-size: 0.75rem;
  margin-top: 10px;
  text-align: right;
}
.teacher-chatbot {
  position:static;
}
.teacher-chatbot .chatbot-container {
    display: block;
    width: 100%;
    border-radius: 0px;
    box-shadow: none;
}
.teacher-chatbot .chatbot-header {
    padding: 15px;
    border-radius: 0px;
}
.student-list {
    height: 500px;
    overflow-y: auto;
    background: #f8f8f8; 
}
.student-list .list-group-item.active {
    background: #00bcd2;
    border-color: rgba(0,0,0,.15);
}
/*
 * Responsive
 */
@media screen and (min-width: 1200px) {
  .header-stats li + li {
    padding-left: 50px;
  }  
}
@media screen and (min-width: 992px) {
  .header-stats {
    margin-left: 50px;
    margin-right: 2rem;
  }
  .admin-nav .nav-item + .nav-item{
    margin-left: 1rem;
  }
  .navbar-light.main-header .admin-nav .nav-link.active {
      position: relative;
  }
    .navbar-light.main-header .admin-nav .nav-link.active:before {
      position: absolute;
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background-color: #00bcd2;
      left: 0px;
      bottom: -23px;
    }  
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-stats li + li {
    padding-left: 20px;
  }  
  .header-stats li,
  .header-stats + .navbar-nav {
    font-size: 0.85rem;
  }
  .header-stats li span {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .quiz-wrapper {
    overflow: hidden;
  }
  #attachQuestionNumber {
    position: relative;
    min-height: 100%;
  }
  #attachQuestionNumber {
    min-height: 100%;
  }
  #attachQuestionNumber::before {
    position: absolute;
    width: 2000px;
    height: 100%;
    content: '';
    display: block;
    left: 100%;
    top: 0px;
    background-color: #f7f7f7;
    z-index: -1;
  }  
  .header-stats img {
    width: 25px;
    height: 25px;
  }
  .see-all-questions-btn,
  .close-btn {
    display: none;
  }
  .mobile-questions #attachQuestionNumber {
    position: fixed;
    top: 86px;
    z-index: 2;
    margin-top: 0px;
    width: 30%;
    max-width: 350px;
  }
  .login-container {
    margin-right: -15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-stats {
    flex-direction: row;
    justify-content: space-around;    
  }
  .header-stats + .navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  .header-stats + .navbar-nav > .nav-item + .nav-item {
    margin-left: 1.5rem;
  }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
  .main-header .navbar-brand {
    width: 170px;
    height: 55px;
    background-size: 170px;      
  }
  #attachQuestionNumber {
    margin-top: 1.5rem;
  }
  .see-all-questions-btn {
    width: calc(100% - 30px);
    margin: 0px 0px 0px 15px;
    margin-top: 20px;
  }
  .mobile-questions {
    padding-top: 40px;
  }


  #attachQuestionNumber {
    position: fixed;
    top: 0px;
    margin-top: 0px;
    left: 0px;
    z-index: 4;
    transition: all 0.25s ease-out;
    transform: translateX(100%);
  }
  .push-menu #attachQuestionNumber{
    transform: translateX(0);
  }

  .questions-list-container h5 {
    display: flex;
  }
  .questions-list-container h5 > .btn {
    margin-left: auto;
  }
  body {
        padding-top: 144px;
}
}
@media (max-width: 575px) {
  .btn-lg {
    font-size: 1rem;
  }
}
@media (max-width: 359px) {
    .main-header .navbar-brand {
    width: 55px;
    }
}

.student-list .badge {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.countdown-card {
    background: red;
    color: #fff;
    padding: 1.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}
.countdowntimern{
    font-family: digital-7;
    font-size: 4rem;
    margin-bottom: 0px;
    text-align: center;
}